<div class="list-group col-sm-auto">
  <i class="bi bi-check2-circle icon-nav"></i>
  <i class="bi bi-card-text icon-nav"></i>
  <i class="bi-b bi-globe icon-nav"></i>
  <i class="bi bi-square icon-nav"></i>
  <i class="bi bi-share icon-nav"></i>
  <%= link_to admin_root_path do %><i class="bi bi-person icon-nav"></i><% end %>
  <i class="bi bi-diagram-3 icon-nav"></i>
  <i class="bi bi-people icon-nav"></i>
  <i class="bi bi-briefcase icon-nav"></i>
</div>