<!DOCTYPE html>
<html>
<head>
  <title>Sports Hub - Admin</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'admin_layout', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>

<body style="margin: 0px">
  <div class="header">
    <div style="background-color: red; width: 15%; text-align: center">
      <h1 style="color:white; height: 100%">Sports Hub</h1>
    </div>
    <div style="background-color: white; width: 55%;"></div>
    <div style="width: 29%;">
      <%= link_to "Switch", user_layout_path %>
      <a>Profile</a>
      <a>EN</a>
    </div>
  </div>
  <div class="menuTitle">
    <h1>Users</h1>
  </div>
  <div class="navigation">
    <a>Navigation</a>
  </div>
  <div class="management" style="width: 100%; height: 500px; border:1px solid black">
    <div style="width: 15%;"></div>
    <div style="width: 84%;">
      <%= render :partial => "user_management" %>
    </div>
  </div>
</body>
</html>
