<div class="col-4 m-5">
  <table class="table users_table">
    <tr>
      <td>Languages</td>
      <td>Status</td>
    </tr>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.language_name %></td>
        <td>
          <% button_name = language.status == true ? 'Deactivate' : 'Activate'  %>
          <%= button_to button_name, admin_change_language_status_path(language), method: :post %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
