<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCategoryModalLabel">Add Category</h5>
      </div>
      <%= form_for Category, as: :category, url: admin_categories_path, html: { method: :post } do |f| %>
        <div class="modal-body">
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
          <%= submit_tag 'Add', :class=>'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>