<% content_for :admin_content do %>
<!--  <div class="user_block container-fluid">-->
<!--  </div>-->
  <div class="table_block">
    <table class="table table-striped users_table">
      <tr>
        <td>Name</td>
        <td>Status</td>
        <td>Actions</td>
      </tr>
      <tr>
        <td>ExampleUser1</td>
        <td>ExampleStatus</td>
        <td>
          <select name="actions">
            <option value="1">Block</option>
            <option value="2">Delete</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <ul id='user_tabs' class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="description-tab" role="tab" href="#description" aria-controls="description" aria-selected="true">General info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="teams-tab" role="tab" href="#teams" aria-controls="teams" aria-selected="false" >Teams</a>
      </li>
    </ul>
    <div class="tab-content" id="user_tabs_content">
      <div class="tab-pane fade show active" aria-labelledby="description-tab" id="description" role="tabpanel">
        Описание
      </div>
      <div class="tab-pane fade" aria-labelledby="teams-tab" id="teams" role="tabpanel">
        Команды
      </div>
    </div>
  </div>
<% end %>
