

.navigation {
    height: 50px;
}

.admin_content{
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.admin_content > div {
    float: left;
    height: 100%;
}


.icon-nav{
    font-size: 35px;
    color: darkgray;
    border: none;
    padding-bottom: 1rem !important;
}

.icon-nav:hover {
    color: #d72130;
}
