:root {
    --site-main-color: #d72130;
}

.user_block{
    width: 100%;
}

.user_info{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid black;
}

.table_block{
    width: 30%;
    margin-right: 5%;
    float: left;
}

.user_content{
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.user_content > div {
    float: left;
    height: 100%;
}

.profile-img {
    width: 25px;
}
