<tr>
  <td><%= user.full_name %></td>
  <td><%= user.status %></td>
  <td>
    <%= link_to 'Remove from Admin', admin_user_path(admin),
                :data => { :confirm => "Are you sure?" },
                :class => 'button-xs' unless user == current_user || !admin.is_admin? %>
  </td>
</tr>