<div class="row" style="border: 2px solid black; height: 60px">
  <div class="col-10">
    <h3>Teams</h3>
  </div>
  <div class="col-2">
    <% if action_name == 'index' %>
      <%= link_to '+ New Team', new_admin_team_path, method: :get, class: %w[btn btn-primary] %>
    <% end %>
  </div>
</div>