<div class="row">
  <div class="col-1"></div>
  <div class="col-auto">
    <table class="table table-striped teams_table">
      <tr style="height: 50px">
        <td>Teams</td>
        <td>Location</td>
        <td>Date added</td>
        <td>Category</td>
        <td>Subcategory</td>
        <td></td>
        <td></td>
      </tr>
      <%= render @teams %>
    </table>
  </div>
</div>