<div class="article-box row" style="margin-bottom: 50px">
  <div class="photo-box col-auto">
    <%= render_article_photo(article) %>
  </div>
  <div class="article_info_box col">
    <% if base_class_name == 'Admin::BaseController' %>
      <h1><%= link_to article.headline, edit_admin_article_path(:id => article.id) %></h1>
    <% elsif base_class_name == 'ApplicationController' %>
      <h1><%= link_to article.headline, article_path(:id => article.id) %></h1>
    <% end %>
    <a><%= article.content %></a>
    <!--  <a><%#= article.category.name %> / <%#= category.location.name %></a>-->
  </div>
</div>
