<div class="article-box row" style="margin-bottom: 50px">
  <div class="photo-box col-auto">
    <%= render_article_photo(article) %>
  </div>
  <div class="article_info_box col">
    <% if controller_name == 'article' %>
      <h1><%= link_to article.headline, article_path('article_id' => article.id) %></h1>
    <% elsif controller_name == 'home' %>
      <h1><%= link_to article.headline, article_path('article_id' => article.id) %></h1>
    <% end %>
    <a><%= article.content %></a>
    <!--  <a><%#= article.category.name %> / <%#= category.location.name %></a>-->
  </div>
</div>
